@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #e9ebee !important;
    font-family: 'Roboto', sans-serif;
}

html {
    --antd-wave-shadow-color: none !important;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e0e0ee;
    width: 35%;
    padding: 40px 30px 20px;
    border-radius: 5px;
    transition: all 500ms ease;
    /* margin: 50px 0 10px; */
}

.card-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    font-size: 24px;
    font-weight: bold;
}

.break-line {
    border-top: 0.5px solid #0000003a;
    margin: 0 -30px;
}

.setting-heading {
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 5px;
}

.head-center {
    text-align: center;
}

.form-input {
    border-radius: 4px !important;
}

.form-button {
    border-radius: 4px !important;
    /* background-color: #4bb146 !important; */
    color: #ffffff !important;
    /* border: 1px solid #4bb146; */
}

.menu-flex {
    display: flex;
    flex-direction: row;
}

.helper-comp {
    position: relative;
    width: 100%;
}

.home-main {
    height: calc(100vh - 60px);
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-button:hover {
    border-color: #4bb146 !important;
}

/* modal css */
.modal_div,
.img_div {
    text-align: center;
}

.btn_div {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

/* .inp {
    height: 5vh;
    width: 80%;
    margin-top: 5%;
} */
.text_area {
    margin-top: 4%;
    width: 100%;
    border: 1px solid gray;
}

.text_area:hover {
    border: 1px solid blue;
}

.text_area:focus {
    border: 1px solid blue;
    box-shadow: blue 0px 0px 2px;
    outline: none;
}

.btn {
    height: 5vh;
    width: 25%;
}
.ant-modal-content{
    background-color: none !important;
    background: linear-gradient(to top, black, gray);
    /* background-image: url("https://img.freepik.com/free-vector/seamless-gold-rhombus-grid-pattern-black-background_53876-97589.jpg?w=900&t=st=1668673472~exp=1668674072~hmac=0487ffcb1c3d8ed1a4e080509d16793a9447a1db3ee36c93bde98ab5cb32b005") !important; */
}
.ant-modal-title{
    color: white !important;
}
.ant-modal-header{
    border-bottom: none !important;
    background-color: transparent !important;
    /* color: none !important; */
}
.ant-modal-footer{
    padding: 24px 21px !important;
}
.cancel_btn {
    background: #ff4d4f;
    border: 1px solid #ff4d4f;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
}

.cancel_btn:hover,
.cancel_btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff4d4f;
}

.ok_btn {
    background: rgb(43, 43, 255);
    border: 1px solid rgb(43, 43, 255);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
}

.ok_btn:hover,
.ok_btn:active {
    background-color: initial;
    background-position: 0 0;
    color: rgb(43, 43, 255);
}

@media(max-width: 1200px) {
    .card {
        width: 45%;
    }
}

@media(max-width: 1000px) {
    .card {
        width: 60%;
    }
}

@media(max-width: 900px) {
    .card {
        width: 65%;
    }
}

@media(max-width: 800px) {
    .card {
        width: 70%;
    }
}

@media(max-width: 700px) {
    .card {
        width: 75%;
    }
}

@media(max-width: 600px) {
    .card {
        width: 80%;
        padding: 20px 20px 10px;
    }

    .break-line {
        margin: 0 -20px;
    }
}

@media(max-width: 500px) {
    .card {
        width: 85%;
    }

    .heading {
        font-size: 20px;
    }
}

@media(max-width: 400px) {
    .card {
        width: 90%;
    }
}

@media(max-width: 300px) {
    .card {
        width: 95%;
    }

    .heading {
        font-size: 18px;
    }
}