@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #e9ebee !important;
    font-family: 'Roboto', sans-serif;
}

html {
    --antd-wave-shadow-color: none !important;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e0e0ee;
    width: 35%;
    padding: 40px 30px 20px;
    border-radius: 5px;
    transition: all 500ms ease;
    /* margin: 50px 0 10px; */
}

.card-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading {
    font-size: 24px;
    font-weight: bold;
}

.break-line {
    border-top: 0.5px solid #0000003a;
    margin: 0 -30px;
}

.setting-heading {
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 5px;
}

.head-center {
    text-align: center;
}

.form-input {
    border-radius: 4px !important;
}

.form-button {
    border-radius: 4px !important;
    /* background-color: #4bb146 !important; */
    color: #ffffff !important;
    /* border: 1px solid #4bb146; */
}

.menu-flex {
    display: flex;
    flex-direction: row;
}

.helper-comp {
    position: relative;
    width: 100%;
}

.home-main {
    height: calc(100vh - 60px);
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-button:hover {
    border-color: #4bb146 !important;
}

/* modal css */
.modal_div,
.img_div {
    text-align: center;
}

.btn_div {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

/* .inp {
    height: 5vh;
    width: 80%;
    margin-top: 5%;
} */
.text_area {
    margin-top: 4%;
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.text_area:hover {
    border: 1px solid aqua;
}

.ant-modal-body {
    padding: 24px 24px 12px 24px !important;
}

.text_area:focus {
    border: 1px solid aqua;
    box-shadow: aqua 0px 0px 2px;
    outline: none;
}

.btn {
    height: 5vh;
    width: 25%;
}

.ant-upload.ant-upload-select:hover {
    border: 1px dashed aqua !important;
}

.ant-modal-content {
    background-color: none !important;
    /* background: linear-gradient(to top, black, gray); */
    background-image: url("https://img.freepik.com/free-photo/plain-dark-black-wall-product-background_53876-129678.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.ant-btn {
    color: white !important;
    background-color: transparent !important;
}

.ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
    border: 1px solid white !important;
}

.ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger):hover {
    border: 1px solid aqua !important;
}

.ant-upload.ant-upload-select-picture-card {
    background-color: transparent !important;
}

.ant-upload.ant-upload-select-picture-card>.ant-upload {
    color: white !important;
}

.ant-upload.ant-upload-select-picture-card>.ant-upload:hover {
    color: aqua !important;
}

.ant-modal-title {
    color: white !important;
}

.ant-btn:hover {
    border: 1px solid aqua !important;
    color: aqua !important;
}

.ant-modal-close {
    color: white !important;
}

.ant-modal-close:hover {
    color: aqua !important;
}

.ant-modal-header {
    border-bottom: none !important;
    background-color: transparent !important;
    /* color: none !important; */
}

.ant-modal-footer {
    border-top: none !important;
    /* padding: 24px 21px !important; */
    padding-bottom: 24px !important;
    padding-right: 22px !important;
}

@media(max-width: 1200px) {
    .card {
        width: 45%;
    }
}

@media(max-width: 1000px) {
    .card {
        width: 60%;
    }
}

@media(max-width: 900px) {
    .card {
        width: 65%;
    }
}

@media(max-width: 800px) {
    .card {
        width: 70%;
    }
}

@media(max-width: 700px) {
    .card {
        width: 75%;
    }
}

@media(max-width: 600px) {
    .card {
        width: 80%;
        padding: 20px 20px 10px;
    }

    .break-line {
        margin: 0 -20px;
    }
}

@media(max-width: 500px) {
    .card {
        width: 85%;
    }

    .heading {
        font-size: 20px;
    }
}

@media(max-width: 400px) {
    .card {
        width: 90%;
    }
}

@media(max-width: 300px) {
    .card {
        width: 95%;
    }

    .heading {
        font-size: 18px;
    }
}